.footer-content {
  text-align: center;
  padding: 10px;
  background: #ECEDF3;
  position: relative;
  z-index: 1;
  width: calc(100% - 0px);
  
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}   


.ant-pro-layout .ant-pro-sider .ant-layout-sider-children{padding-inline: 0; margin: 0px;}
/* .ant-pro-layout .ant-layout-sider.ant-pro-sider {background: #00152A;} */
.ant-menu .ant-menu-submenu, :where(.css-1eqj91n).ant-menu .ant-menu-submenu-inline{background: #00152A;} /* Main Menu items background color */
.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline, :where(.css-1eqj91n).ant-menu-light > .ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline{background: #000C18;}
.ant-menu .ant-menu-submenu-title{border-radius: 0;}
.ant-pro-base-menu-inline .ant-pro-base-menu-inline-submenu-has-icon > .ant-menu-sub{padding-inline-start: 0;}
.ant-pro-layout .ant-pro-sider-actions{border-top: 1px solid #16385B;}
.ant-select-single .ant-select-selector{border-radius: 4px;}
.ant-input-search :where(.css-g6nrgr).ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
}
.ant-btn{border-radius: 4px;}
/* .ant-pro-layout .ant-layout-sider.ant-pro-sider {background: #00152A;} */
/* .ant-btn-primary{background: #008945; border-color:#008945 ;} */
/* .ant-btn-primary:hover{border-color:#008945} */
/* .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #008945;
  background-color: #008945;
} */
/* .ant-upload-wrapper .ant-upload-drag p.ant-upload-drag-icon .anticon {
  color: #008945;
  font-size: 48px;
} */
/* .ant-btn-primary{background: #008945;} /*buttons color */

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  color:#fff ;
  /* background:#3d6924 ; /* button color when mouse over */
}
 .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active {
  color:#fff ;
  /*background:#00152A;   /* button color when clicked */

} 
 /* 
.ant-upload-wrapper .ant-upload-drag p.ant-upload-drag-icon .anticon{color: #008945;}
.ant-tag.ant-tag-success{color: #52c41a; background: #ecffd8;}
 */

 .ant-pro-sider-collapsed-button{color: #fff; background: #008945;} /*collapse button background */
.ant-pro-layout .ant-layout-sider.ant-pro-sider {
  background: #00152A; /*Total sider color  Except main menu items*/
}

/*.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline{background: #9cadbe;} /*submenu BackGround*/
.ant-menu .ant-menu-submenu{border-radius: 0px;}
.ant-menu-inline .ant-menu-submenu-title{padding-left:0px; margin:0px; width: calc(100%);} 
.ant-menu-inline >.ant-menu-submenu>.ant-menu-submenu-title{border-radius: 0px;}
.ant-menu-inline .ant-menu-item{padding-left:0px; margin:0px; width: calc(100%); border-radius: 0px; color:#fff;} 

.ant-pro-base-menu-vertical.ant-pro-base-menu-vertical-collapsed .ant-menu-submenu-selected>.ant-menu-submenu-title {
  background-color: #008945; /* when sider collapsed , menu item (menu item icon) background color */
  border-radius: 0;
  margin: 0;
}
.ant-menu-vertical .ant-menu-submenu-title{width: calc(100%); margin:0px; border-radius: 0px;}
.ant-menu .ant-menu-submenu-title{border-radius:0px;} 


.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover,
.ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
  background: #008945; /* sub-menu item background color when i mouse hover*/
  color:#fff;
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover,
.ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover {
  background: #008945;   /*Main Menu Item Background color when i hover */
  color:#fff;
}

.ant-menu-light .ant-menu-item a:hover,
.ant-menu-light>.ant-menu .ant-menu-item a:hover {
  color:#fff; /* Sub menu text color  when i hover (collapsed state) */
}

.ant-menu-light .ant-menu-item, .ant-menu-light>.ant-menu .ant-menu-item{color:#000;} /* sub menu text color , when collapsed  */


.ant-menu .ant-menu-submenu{border-radius: 0 !important;}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline{background: #000C18 !important;} /* sub menu background color*/
.ant-menu-submenu-title{color:#fff !important;} /* main menu item  text color */

.ant-menu-item .ant-menu-item-only-child .ant-pro-base-menu-inline-menu-item{color:#fff !important;}
.ant-menu-submenu-popup{backdrop-filter:none;}  /* remove blur effect on sub menu */

.ant-menu-light.ant-menu-inline .ant-menu-item{color:#fff;}  /* sub menu item text color */

 :where(.css-1yppxvz).ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline{background: #000C18;}
 .ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child.ant-pro-base-menu-inline-menu-item {
  background: #008945;
}

.ant-menu-light .ant-menu-item-selected, :where(.css-1wmv0zb).ant-menu-light > .ant-menu .ant-menu-item-selected {
  background-color: #008945 !important;  
  color: #fff !important;
}   /* selected menu item background color (When i collapsed) */

:where(.css-dev-only-do-not-override-14gstjl).ant-btn-link {
  color: #008945; /* Edit icon color */
}
:where(.css-dev-only-do-not-override-14gstjl).ant-btn-link:not(:disabled):not(.ant-btn-disabled):hover{
  color: #5fcc1f;  /* Edit icon hover color */

}

.ant-pro-layout .ant-layout-header.ant-pro-layout-header{
  background-color:#00152A ;
}

.ant-pro-global-header-collapsed-button{
  color: #fff; /* toggle button color */
}



/* .ant-btn-primary {
  background: #092745;
} */

/* .ant-pro-sider-collapsed-button{
  background-color: #008945;
  color: #fff;
} */

:where(.css-dev-only-do-not-override-1rb5soc).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1rb5soc).ant-menu-light>.ant-menu .ant-menu-item-selected{
    background-color: #008945;
}


:where(.css-dev-only-do-not-override-qnu6hi).ant-btn-primary{
  color: #fff;
  background: #008945;      
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}    /*on Confirmation modal buttons */

