.custom-login-page {
  background-image: none; /* Remove any background images */
  background-color: #fff; /* Set background color to white */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-box {
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.login-page6-inner::before,
.login-page6-inner::after {
  background-image: none !important; /* Remove any background images */
}

.login-page6 {
  color: black;
}

.login-page6-inner > article > section > button {
  background-color: skyblue;
}
