html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer-content {
  text-align: center;
  padding: 10px;
  background: #f0f0f0;
  position: relative;
  z-index: 1;
  width: calc(100% - 0px);
  
}


/* Page container Padding */
.ant-pro-page-container-children-container {
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  overflow: hidden;
}

.layout-container {
  display: flex;
  min-height: 100vh;
  
}

.main-content-container {
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 24px;
  flex-grow: 1; /* Ensure this takes up remaining space */
}

.header-content {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
  padding: 0 24px; /* Adjusted padding */
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  z-index: 1;
  width: calc(100% - 250px); /* Adjusted width to match Sider */
  position: fixed;
  top: 0;
  right: 0;
}

.content-area {
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  margin-top: 64px; /* Adjusted margin to account for the fixed header */
  min-height: calc(100vh - 128px); /* Adjusted height to account for header and footer */
  margin-right: 16px;
  margin-left: 16px; /* Margin for spacing */
  overflow: initial;
  flex-grow: 1; /* Ensure this takes up remaining space */
}



/* MainContent.css */

.menu-item-label {
  margin-left: 8px;
}

.menu-item-icon {
  margin-right: 8px;
}

.menu-item-selected {
  background-color: 'white';
  color: black;
}



.ant-table-row-green .ant-table-cell {
  background-color: #E8F6F0 !important;
}

.ant-table-row-red .ant-table-cell {
  background-color: #c7e9da !important;  /* Assign crew to cli - Rows color */
}

.ant-table-row-orange .ant-table-cell {
 background-color: #61affe1a !important;
}


/* Ensure that the headers of the main table are visible */
.main-table .ant-table-thead > tr > th {
  display: table-cell; /* or other suitable display properties */
}

/* Add this CSS to your stylesheet */
.gm-style-iw > button.gm-ui-hover-effect {
  display: none !important;
}

.page-container {
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.ant-layout-content {
  flex-grow: 1;
}


.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 64px;
  /* background: #001529; */
}

/* For WebKit browsers (Chrome, Safari, etc.) */
.ant-pro-sider ::-webkit-scrollbar {
  width: 5px; /* Adjust the scroll bar width as needed */
}

.ant-pro-sider {
  height: 70vh; /* Adjust the height of the sider scroll bar itself */
}


/* Hover effect for scrollbar thumb */
.ant-pro-sider ::-webkit-scrollbar-thumb {
  background: #f0f1f3; /* Darker on hover */
}


.pro-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ant-layout-content {
  flex-grow: 1;
}

.ant-layout-header {
  height: 64px;
  padding: 0 10px;
  line-height: 64px;
  background: #fafafa;
}


/* Remove hover background from the profile container */
.ant-layout-header {
  background-color: transparent;
  padding:0px
}


/* Custom CSS for the ProLayout Sider */

/* Custom CSS to keep icons white when the sider is collapsed */
.ant-pro-sider-collapsed .ant-menu-item-icon,
.ant-pro-sider-collapsed .ant-menu-submenu-title  {
  color: #fff !important; /* Force icon color to white when sider collapse */
}

/* For single item icons with no submenus */
.ant-pro-sider .ant-menu-item .ant-menu-item-icon,
.ant-pro-sider-collapsed .ant-menu-item  {
  color: #fff !important; /* Ensure single icons are white */
}


/*CSS login Page */


.container{
  /* background-image: url(../images/bg.png); */
  background-size: cover;
}


@media (max-width: 768px) {
  .login-form{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .Right-container{
    display: none !important;
  }

  .container{
    background-image: none;
  }
}









